<app-admin-header></app-admin-header>
<main class="body">
    <section class="body_section">
        <h1>ADD NEW CAR DETAILS</h1>
        <section class="body_section">
            <form [formGroup]="AddCarDetails" (ngSubmit)="carDetailsForm()">
                <section class="form_section">
                    <!-- car name -->
                    <div>
                        <mat-label>Car Name : </mat-label>
                        <mat-form-field class="example-full-width">
                            <input name="carName" formControlName="carName" matInput>
                        </mat-form-field>
                    </div>
                    <!-- car id -->
                    <div>
                        <mat-label>Car Id : </mat-label>
                        <mat-form-field class="example-full-width">
                            <input name="carId" formControlName="carId" matInput>
                        </mat-form-field>
                    </div>
                    <!-- accessibility.transmission -->
                    <div>
                        <mat-label>Transmission : </mat-label>
                        <mat-form-field>
                            <select [(ngModel)]="selectedTransmission" formControlName="accessibility" matNativeControl required>
                              <option value="Manual">Manual gearbox</option>
                              <option value="saab">Automatic gearbox</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <!-- seat -->
                    <div>
                        <mat-label>Seats : </mat-label>
                        <mat-form-field class="example-full-width">
                            <input name="seats" formControlName="seats" matInput>
                        </mat-form-field>
                    </div>
                    <!-- Image -->
                    <div>
                        <mat-label>Image : </mat-label>
                        <mat-form-field class="example-full-width">
                            <input name="image" formControlName="image" matInput>
                        </mat-form-field>
                    </div>
                    <!-- Mileage -->
                    <div>
                        <mat-label>Mileage : </mat-label>
                        <mat-form-field class="example-full-width">
                            <input name="mileage" formControlName="mileage" matInput>
                        </mat-form-field>
                    </div>
                </section>
                <section class="form_section">
                    <!-- Suitcases -->
                    <div>
                        <mat-label>Suitcases : </mat-label>
                        <div>
                            <mat-form-field class="example-full-width">
                                <input name="suitcaseBig" formControlName="suitcaseBig" matInput placeholder="Big">
                            </mat-form-field>
                            <br>
                            <mat-form-field class="example-full-width">
                                <input name="suitcaseSmall" formControlName="suitcaseSmall" matInput placeholder="small">
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- group -->
                    <div>
                        <mat-label>Group : </mat-label>
                        <mat-form-field>
                            <select [(ngModel)]="selectedGroup" formControlName="group" matNativeControl required>
                              <option value="Economy">Economy</option>
                              <option value="Compact">Compact</option>
                              <option value="Premium">Premium</option>
                              <option value="Intermediate">Intermediate</option>
                              <option value="Full-size">Full-size</option>
                              <option value="Standard">Standard</option>
                              <option value="Mini">Mini</option>
                              <option value="Luxury">Luxury</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <!-- Transmission -->
                    <!-- <div>
                        <mat-label>Transmission : </mat-label>
                        <mat-form-field>
                            <select matNativeControl required>
                              <option value="volvo">Volvo</option>
                              <option value="saab">Saab</option>
                              <option value="mercedes">Mercedes</option>
                              <option value="audi">Audi</option>
                            </select>
                          </mat-form-field>
                    </div> -->
                    <!-- doors -->
                    <div>
                        <mat-label>Doors : </mat-label>
                        <mat-form-field class="example-full-width">
                            <input name="door" formControlName="door" matInput>
                        </mat-form-field>
                    </div>
                    <!-- Price -->
                    <div>
                        <mat-label>Price : </mat-label>
                        <mat-form-field class="example-full-width">
                            <input name="price" formControlName="price" matInput>
                        </mat-form-field>
                    </div>
                    <!-- buttons -->
                    <div>
                        <button mat-raised-button color="primary">CLOSE</button>
                        <button type="submit" mat-raised-button color="warn">ADD</button>
                    </div>
                </section>
            </form>
        </section>
    </section>
</main>