.body,.body_section{
    width: 100%;
}
h1{
    text-align: center;
}
form{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}
.form_section>div{
    display: flex;
    justify-content: space-between;
}