<main>
    <section>
        <form id="msform" [formGroup]="registerForm" (ngSubmit)="register()">
            <section class="heading">
                <div class="waviy">
                  <span style="--i:1">R</span>
                  <span style="--i:2">E</span>
                  <span style="--i:3">G</span>
                  <span style="--i:4">I</span>
                  <span style="--i:5">S</span>
                  <span style="--i:6">T</span>
                  <span style="--i:7">R</span>
                  <span style="--i:8">A</span>
                  <span style="--i:9">T</span>
                  <span style="--i:10">I</span>
                  <span style="--i:11">O</span>
                  <span style="--i:12">N</span>
                 </div>
            </section>
            <!-- fieldsets -->
            <fieldset>
              <!-- username -->
              <input formControlName="userName" type="text" name="username" placeholder="Username" />
              <!-- username validation -->
              <mat-error *ngIf="this.registerForm.get('userName')?.errors&&this.registerForm.get('userName')?.touched">
                Username is required
              </mat-error>
              <!-- mobile  -->
              <input name="mobile" formControlName="mobile" type="number" name="mobile" placeholder="mobile" />
              <!-- mobile validation -->
              <mat-error *ngIf="this.registerForm.get('mobile')?.errors&&this.registerForm.get('mobile')?.touched">
                Email is required
              </mat-error>
              <!-- password -->
              <input name="password" formControlName="password" type="password" placeholder="Password" />
              <!-- password validation -->
              <mat-error *ngIf="this.registerForm.get('password')?.errors&&this.registerForm.get('password')?.touched">
                Email is required
              </mat-error>
            </fieldset>
            <section class="submitBtn">
                <button mat-raised-button color="warn">CLOSE</button>
                <button mat-raised-button color="primary" type="submit">REGISTER</button>
            </section>
          </form>
    </section>
</main>
