main {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-content: center;
}
.heading{
  margin-bottom: 30px;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(255, 255, 255, 0.9));
  /* font-size: 60px; */
}
.waviy span {
    position: relative;
    display: inline-block;
    color: #000000;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(0.1s * var(--i));
    font-size: 1.8rem;
    font-family: 'Bruno Ace', cursive;
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}


#msform {
	width: 400px;
	/* margin: 50px auto; */
	text-align: center;
	position: relative;
  background: white;
  padding: 30px;
}
 #msform fieldset {
	background: white;
	border: 0 none;
}
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	/* border-radius: 3px; */
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
.submitBtn{
  display: flex;
  justify-content: space-between;
}

fieldset input:first-child{
  border-radius:20px 20px 0 0;
}
fieldset input:last-child{
  border-radius:0 0 20px 20px;
}
mat-error{
  font-size: .8rem;
}